/***********************************************************************
* Shared Content CSS for osohm platform.
* Content mobile ready styles for all pages in our osohm.com domain.
***********************************************************************/

/****************************
 * Content Styles
 ****************************/
/* Default Content Properties for smallest devices. */
.content
{
	position: relative;
	margin-right: 1rem;
	margin-left: 1rem;
}

/* Larger than phone */
/*
@media (min-width: 400px) 
{
	.content
	{
		margin-right: 5vw;
		margin-left: 5vw;	
	}	
}
*/

/* Larger than phablet */
/*
@media (min-width: 550px) 
{
	.content
	{
		margin-right: 10vw;
		margin-left: 10vw;	
	}	
}
*/

/* Larger than tablet */
/*
@media (min-width: 750px) 
{
	.content
	{
		margin-right: 15vw;
		margin-left: 15vw;
	}
}
*/

/* Larger than desktop */
@media (min-width: 1000px) 
{
	.content
	{
		margin-right: 10vw;
		margin-left: 10vw;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) 
{
	.content
	{
		margin-right: 20vw;
		margin-left: 20vw;
	}
}
