/***********************************************************************
* Shared Content CSS for osohm platform.
***********************************************************************/

/****************************
 * Content Styles
 ****************************/
/* Default Content Properties for smallest devices. */
.content
{
	position: relative;
	margin: 1rem;
}

.quote
{
	font-style: italic;
}

.footnote
{
	text-align: center;
}

.disclaimer
{
	font-style: italic;
}
