/***********************************************************************
* Shared Navigation CSS for osohm platform.
* Navigation styles for all pages in our osohm.com domain, Including 
* a navigation header and a navigation sticky footer.
***********************************************************************/

/***************************************
 * General properties for sticky footer. 
 ***************************************/
html, body 
{ 
	margin: 0;
	height: 100%; 
}

/****************************
 * Navigation Header Properties 
 ****************************/
.navhead
{
	width: 100%;
	height: 100%;
	background: #fff;
	padding-top: 10px;
	padding-bottom:10px;
	border-bottom: 1px solid #ddd;
}

.navhead > .container 
{
	width: 100%; 
	text-align: center;	
}

.navhead-link 
{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	margin: 10px;
	letter-spacing: .2rem;
	text-decoration: none;
	color: #222222; 
}

.navhead-link-current
{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	margin: 10px;
	letter-spacing: .2rem;
	text-decoration: none;
	color: #0FA0CE; 
}

/****************************
 * Navigation Footer Properties 
 ****************************/
/* wrapper for sticky footer */
.wrapper
{
	min-height: 100%;
	margin: 0 auto -32px;
}

/* Navigation push for sticky footer */
.push
{
	height: 32px;
}

.navfoot 
{
	display: block;
	width: 100%;
	height: 31px;
	background: #fff;
	border-top: 1px solid #eee;
}

.navfoot > .container 
{
	width: 100%; 
	text-align: center;	
}

.navfoot-link 
{
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2rem;
	text-decoration: none;
	line-height:100%;
	color: #222222; 
}

.navfoot-link-current
{
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2rem;
	text-decoration: none;
	line-height:100%;
	color: #0FA0CE; 
}
