/***********************************************************************
* Home Page CSS for osohm platform.
***********************************************************************/

/****************************
 * Default Section Properties 
 ****************************/
/* Default Section Properties for small devices */
.home-section
{
	position: relative;
	width:100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}
.home-section-title
{
	display: none;
}

/* Overriding Properties for Larger Devices. */

/* Larger than phablet */
@media (min-width: 550px) 
{
	.home-section
	{
		margin-top: 15vh;
		margin-bottom: 10vh;
	}
	.home-section-title
	{
		display: block;
	}
}

/*****************
 * Sticky Footnote
 *****************/
/* Override wrapper and push to add sticky footnote */
/* wrapper for sticky footnote and footer*/
.wrapper
{
	min-height: 100%;
	margin: 0 auto -70px;
}

/* Navigation push for sticky footnote and footer */
.push
{
	height: 70px;
}

.footnote
{
	text-align: center;
}

