/***********************************************************************
* Login Page CSS for osohm platform.
***********************************************************************/

/****************************
 * Login Section Properties 
 ****************************/
#login-section
{
	text-align: center;
}


.
{
	min-height: 100%;
	margin: 0 auto -70px;
}
