/***********************************************************************
* Create Project Page CSS for osohm platform.
* Authors: Camilo Tejeiro
***********************************************************************/

/****************************
 * Create Project Section Properties 
 ****************************/
.create-section { width: 100%; }

.create-section-heading { text-align: center; } 

.create-section-description { margin-bottom: 1.2rem; }
